version: "3"

services:
  db:
    container_name: postgres_db
    image: postgres:latest
    environment:
      POSTGRES_HOST_AUTH_METHOD: "trust"
    volumes:
      - django_data_volume:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - 5432:5432
  
  backend:
    container_name: back-api
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend:/backend
    tty: true
    ports:
      - 8000:8000
    depends_on:
      - db

volumes:
  django_data_volume:
  dummy_volume: